html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Figtree', sans-serif;
}

@media(min-width: 992px) {
    .navbar .navbar-collapse {
        flex-grow: unset;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

@media(min-width: 1440px) {
    .hero .bg-hero {
        height: 100%;
        object-fit: cover;
    }
}

/* Utility */

.btn-primary {
    background: linear-gradient(90deg, #ED775B 0%, #FF7D61 39.58%, #ED775B 68.75%, #FE4C46 100%);
    border-radius: 21px;
    padding: 11px 30px;
    text-decoration: none;
    display: flex;
}
.btn-primary span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.btn-primary:hover {
    text-decoration: none;
}

/* Navbar */

.navbar {
    padding: 20px 90px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .navbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
} */
.navbar .navbar-nav {
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-right: 50px;
}
.navbar .navbar-nav .nav-link:last-child {
    margin-right: 0;
}
.navbar .navbar-cta-right {
    display: flex;
    align-items: center;
}
.navbar .navbar-cta-right .btn-notification {
    margin-right: 20px;
    text-decoration: none !important;
}

.navbar .navbar-nav .navbar-cta-right .btn-primary {
    max-width: 268px;
}

/* Hero */

.hero {
    position: relative;
    padding: 20px 0 45px;
}
.hero .bg-hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.hero .hero-content {
    position: relative;
    z-index: 10;
    padding-top: 34px;
}
.hero .hero-content .hero-text {
    max-width: 450px;
    padding-top: 80px;
}
.hero .hero-content .hero-text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    max-width: 430px;
}
.hero .hero-content .hero-text h1 span {
    color: #8C8BC3;
}
.hero .hero-content .hero-text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 20px 0 40px;
    max-width: 430px;
}
.hero .hero-content .hero-text .btn-primary {
    max-width: 268px;
}
.hero .hero-content .hero-text hr {
    height: 2px;
    width: 100%;
    background-color: #B5CBEA;
    display: block;
    margin: 50px 0 30px;
}
.hero .hero-content .hero-text .hero-text-bottom span {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #8D8CC4;
}
.hero .hero-content .hero-text .hero-text-bottom .hero-text-links {
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.hero .hero-content .hero-text .hero-text-bottom .hero-text-links a {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #B5CBEA;
    text-decoration: none !important;
    margin-right: 45px;
}
.hero .hero-content .hero-text .hero-text-bottom .hero-text-links a:last-child {
    margin-right: 0;
}

/* Home Section 2 */

.home-section-2 {
    padding: 85px 0 90px;
    position: relative;
}
.home-section-2 .bg-2-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.home-section-2 .bg-home-texture-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.home-section-2 .home-section-2-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.home-section-2 .home-section-2-row .home-section-2-text {
    max-width: 400px;
}
.home-section-2 .home-section-2-row .home-section-2-text span.sub-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #8D8CC4;
}
.home-section-2 .home-section-2-row .home-section-2-text h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
    color: #163B63;
    margin: 34px 0;
}
.home-section-2 .home-section-2-row .home-section-2-text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #757D95;
    margin: 0;
    max-width: 360px;
}
.home-section-2 .home-section-2-row .home-section-2-image {
    width: 820px;
    overflow: hidden;
}
.home-section-2 .home-section-2-row .home-section-2-image img {
    width: 100%;
}

/* Home Section 3 */

.home-section-3 {
    padding: 0 0 80px;
    position: relative;
}
.home-section-3 .bg-3-texture {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.home-section-3 .card-section-3 {
    padding: 45px;
    position: relative;
    z-index: 10;
}
.home-section-3 .card-section-3 .bg-card-section-3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 25px;
}
.home-section-3 .card-section-3 .card-section-3-text {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.home-section-3 .card-section-3 .card-section-3-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    max-width: 634px;
}
.home-section-3 .card-section-3 .card-section-3-text .btn-primary {
    margin: 10px 25px 0 0;
    height: 42px;
}
.home-section-3 .card-section-3 .card-section-3-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
    z-index: 10;
}
.home-section-3 .card-section-3 .card-section-3-item-row .card-section-3-item {
    position: relative;
    box-shadow: 2.84769px 3.79692px 3.79692px 2.84769px rgba(0, 0, 0, 0.2);
    padding: 35px 15px 55px;
    border-radius: 24px;
    width: 253px;
    height: 295px;
    z-index: 10;
}
.home-section-3 .card-section-3 .card-section-3-item-row .card-section-3-item .card-section-3-item-content {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-section-3 .card-section-3 .card-section-3-item-row .card-section-3-item .backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 24px;
    z-index: 10;
}
.home-section-3 .card-section-3 .card-section-3-item-row .card-section-3-item::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -12px;
    right: -12px;
    background-color: #B5CBEA;
    border-radius: 24px;
    content: "";
    z-index: 2;
}
.home-section-3 .card-section-3 .card-section-3-item-row .card-section-3-item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -24px;
    right: -24px;
    background-color: #8D8CC4;
    border-radius: 24px;
    content: "";
    z-index: 1;
}
.home-section-3 .card-section-3 .card-section-3-item-row .card-section-3-item h3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #163B63;
    margin: 25px 0 0;
}
.home-section-3 .card-section-3 .card-section-3-item-row .card-section-3-item p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #163B63;
    margin: 0;
}

/* Home Section 4 */

.home-section-4 {
    overflow: hidden;
    padding-bottom: 80px;
}
.home-section-4 .home-section-4-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
    background-color: rgba(237, 237, 249, 0.63);
    height: 640px;
    position: relative;
    transform: translateX(100px);
    z-index: 10;
}
.home-section-4 .home-section-4-content .home-section-4-text .sub-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #EE775B;
}
.home-section-4 .home-section-4-content .home-section-4-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #163B63;
    margin: 15px 0 20px;
    max-width: 400px;
}
.home-section-4 .home-section-4-content .home-section-4-text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #757D95;
    margin: 0;
    max-width: 360px;
}
.home-section-4 .home-section-4-content .home-section-4-text .btn-link-grey {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #8D8CC4;
    display: block;
    width: 150px;
    margin: 70px 0 35px;
}
.home-section-4 .home-section-4-content .home-section-4-text .socmed-links-group {
    display: flex;
    align-items: center;
}
.home-section-4 .home-section-4-content .home-section-4-text .socmed-links-group .btn-socmed-section-4 {
    text-decoration: none !important;
    margin: 0 8px;
    display: block;
}
.home-section-4 .home-section-4-content .home-section-4-image { 
    transform: translateY(60px);
}

/* Home Section 5 */

.home-section-5 {
    padding: 52px 0 56px;
    position: relative;
    z-index: 10;
    margin-top: -5px;
}
.home-section-5 .home-bg-texture-mid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.home-section-5 .home-section-5-content {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 0 80px 0 90px;
    transform: translateX(-100px);
}
.home-section-5 .home-section-5-content .home-section-5-image {
    margin-top: 30px;
}
.home-section-5 .home-section-5-content .home-section-5-text .sub-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #EE775B;
}
.home-section-5 .home-section-5-content .home-section-5-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #163B63;
    max-width: 480px;
    margin: 15px 0 24px;
}
.home-section-5 .home-section-5-content .home-section-5-text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #767D85;
    margin: 0 0 35px;
    max-width: 520px;
}
.home-section-5 .home-section-5-content .home-section-5-text .btn-link-grey {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #8D8CC4;
    display: block;
    width: 150px;
}

/* Home Section 6 */

.home-section-6 {
    position: relative;
    padding: 98px 0 59px;
}
.home-section-6 .home-section-6-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.home-section-6 .home-section-6-row {
    position: relative;
    z-index: 10;
}
.home-section-6 .home-section-6-row .home-section-6-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #E5E5E5;
    margin-bottom: 60px;
    max-width: 530px;
}
.home-section-6 .home-section-6-row .home-section-6-text h2 span {
    display: block;
    color: #B5CBEA;
}
.home-section-6 .home-section-6-row .home-section-6-text .list-tab-link {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    margin-bottom: 28px;
}
.home-section-6 .home-section-6-row .home-section-6-text .list-tab-link:last-child {
    margin-bottom: 0;
}
.home-section-6 .home-section-6-row .home-section-6-text .list-tab-link span {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #8D8CC4;
    margin-left: 12px;
}
.home-section-6 .home-section-6-row .home-section-6-text .list-tab-link .arrow-list {
    display: none;
}
.home-section-6 .home-section-6-row .home-section-6-text .list-tab-link.active span {
    color: #3190E6;
}
.home-section-6 .home-section-6-row .home-section-6-text .list-tab-link.active .arrow-list {
    display: block;
    margin-left: 12px;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 {
    background: #FFFFFF;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 40px;
    position: relative;
    width: 556px;
    height: 511px;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .bg-card-tab-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    border-radius: 25px;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .bracket-1 {
    position: absolute;
    top: 40px;
    right: 40px;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .bracket-2 {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .card-tab-6-content {
    position: relative;
    z-index: 10;
    height: 100%;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .card-tab-6-content h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #EE775B;
    margin: 0;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .card-tab-6-content p {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #0D2949;
    margin: 15px 0 0;
    max-width: 450px;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .card-tab-6-content p span {
    background-color: #3897FC;
    padding: 0 4px;
    border-radius: 4px;
}
.home-section-6 .home-section-6-row .tab-pane .card-tab-section-6 .card-tab-6-content .card-tab-6-illust {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Home Section 7 */

.home-section-7 {
    position: relative;
    min-height: 830px;
}
.home-section-7 .home-section-7-bg-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.home-section-7 .home-section-7-content {
    position: relative;
    z-index: 2;
    max-width: 1260px;
    margin: 0 auto;
    /* height: 100%; */
    padding: 300px 0 212px;
}
.home-section-7 .home-section-7-content .home-section-7-bg-illust {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    z-index: 2;
}
.home-section-7 .home-section-7-content .home-section-7-content-inner {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.home-section-7 .home-section-7-content .home-section-7-content-inner h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    max-width: 408px;
}
.home-section-7 .home-section-7-content .home-section-7-content-inner h2 span {
    background: #EE775B;
    border-radius: 5px;
    padding: 0 10px;
}
.home-section-7 .home-section-7-content .home-section-7-content-inner p {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #B5CBEA;
    margin: 23px auto 38px;
    max-width: 400px;
}

/* Home Newsletter */

.home-newsletter {
    position: relative;
    padding: 60px 0;
    z-index: 10;
    overflow: hidden;
    background: #B5CBEA;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05), -10px -10px 30px rgba(255, 255, 255, 0.49);
}
.home-newsletter .newsletter-nodus-logo {
    position: absolute;
    left: 100px;
    top: -15px;
    z-index: 1;
    opacity: .2;
}
.home-newsletter .home-newsletter-illust {
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 4;
}
.home-newsletter .home-newsletter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.home-newsletter .home-newsletter-row .home-newsletter-text {
    padding-left: 45px;
    max-width: 591px;
}
.home-newsletter .home-newsletter-row .home-newsletter-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #163B63;
    margin-bottom: 5px;
}
.home-newsletter .home-newsletter-row .home-newsletter-text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #162435;
    margin: 0;
}
.hs-form {
    display: flex;
    align-items: center;
}

/* Footer */

.footer {
    padding: 46px 90px 32px 85px;
    position: relative;
    z-index: 10;
}
.footer .footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.footer .footer-content {
    position: relative;
    z-index: 10;
}
.footer .footer-content .footer-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px;
    border-bottom: 3.6px solid #B5CBEA;
}
.footer .footer-content .footer-top-row .footer-logo {
    text-decoration: none !important;
    width: 200px;
}
.footer .footer-content .footer-top-row .footer-socmeds {
    display: flex;
    align-items: center;
    grid-gap: 12px;
}
.footer .footer-content .footer-top-row .footer-socmeds a {
    text-decoration: none !important;
}
.footer .footer-content .footer-links {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    margin: 30px 0;
}
.footer .footer-content .footer-links a {
    font-weight: 700;
    font-size: 27px;
    line-height: 42px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none !important;
}
.footer .footer-content .footer-copy {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
}